# Building shot gravity chart from the Celtics' 2023-2024 season

In [11]:
import os
import sys
import pandas as pd

fp = '../../data/processed/S2324/team/BOS_games.csv'
df = pd.read_csv(fp)

In [12]:
df.head()

,game_id,period,clock,home,scoreHome,away,scoreAway,playerNameI,teamTricode,description,actionType,subType,xLegacy,yLegacy,shotDistance,isFieldGoal,shotVal,scoreVal,location
0,S2324-G0421,1,12:00,BOS,0.0,DET,0.0,NaN,NaN,Start of 1st Period (7:41 PM EST),period,start,0,0,0,0,NaN,NaN,NaN
1,S2324-G0421,1,12:00,BOS,NaN,DET,NaN,K. Porzingis,BOS,Jump Ball Porzingis vs. Duren: Tip to Ivey,Jump Ball,NaN,0,0,0,0,NaN,NaN,h
2,S2324-G0421,1,11:43,BOS,0.0,DET,2.0,C. Cunningham,DET,Cunningham 9' Driving Floating Jump Shot (2 PTS),Made Shot,Driving Floating Jump Shot,-10,89,9,1,2.0,2.0,v
3,S2324-G0421,1,11:28,BOS,2.0,DET,2.0,J. Tatum,BOS,Tatum 1' Cutting Dunk Shot (2 PTS) (Horford 1 ...,Made Shot,Cutting Dunk Shot,7,13,1,1,2.0,2.0,h
4,S2324-G0421,1,11:15,BOS,NaN,DET,NaN,C. Cunningham,DET,MISS Cunningham 5' Driving Layup,Missed Shot,Driving Layup Shot,45,12,5,1,2.0,0.0,v

In [13]:
df = df[(df['teamTricode'] == 'BOS') & (df['isFieldGoal'] == 1)]
df.sample(10)

,game_id,period,clock,home,scoreHome,away,scoreAway,playerNameI,teamTricode,description,actionType,subType,xLegacy,yLegacy,shotDistance,isFieldGoal,shotVal,scoreVal,location
22234,S2324-G1202,1,00:49.500000,IND,NaN,BOS,NaN,L. Kornet,BOS,MISS Kornet 1' Tip Layup Shot,Missed Shot,Tip Layup Shot,-1,12,1,1,2.0,0.0,v
8694,S2324-G1118,3,11:22,BOS,57.0,SAC,50.0,S. Hauser,BOS,Hauser 24' 3PT Jump Shot (3 PTS) (Tatum 4 AST),Made Shot,Jump Shot,233,53,24,1,3.0,3.0,h
14917,S2324-G1148,3,11:36,MIL,63.0,BOS,45.0,J. Holiday,BOS,Holiday 19' Turnaround Jump Shot (12 PTS),Made Shot,Turnaround Jump Shot,-82,167,19,1,2.0,2.0,v
21953,S2324-G0517,4,11:42,BOS,NaN,MIN,NaN,D. White,BOS,MISS White 12' Driving Floating Jump Shot,Missed Shot,Driving Floating Jump Shot,28,115,12,1,2.0,0.0,h
24325,S2324-G1074,3,01:05,NOP,68.0,BOS,83.0,J. Tatum,BOS,Tatum 15' Turnaround Fadeaway (18 PTS),Made Shot,Turnaround Fadeaway shot,-152,10,15,1,2.0,2.0,v
36324,S2324-G0984,1,09:09,BOS,7.0,DET,5.0,P. Pritchard,BOS,Pritchard 2' Running Finger Roll Layup (2 PTS)...,Made Shot,Running Finger Roll Layup Shot,9,22,2,1,2.0,2.0,h
4374,S2324-G0729,1,02:20,BOS,27.0,ATL,27.0,J. Tatum,BOS,Tatum 14' Turnaround Fadeaway (2 PTS) (Horford...,Made Shot,Turnaround Fadeaway shot,-135,49,14,1,2.0,2.0,h
21064,S2324-G0611,4,05:37,DAL,NaN,BOS,NaN,J. Tatum,BOS,MISS Tatum 3' Running Layup,Missed Shot,Running Layup Shot,4,31,3,1,2.0,0.0,v
8386,S2324-G0031,4,08:39,TOR,88.0,BOS,89.0,A. Horford,BOS,Horford 3PT Jump Shot (8 PTS) (Tatum 1 AST),Made Shot,Jump Shot,230,5,0,1,3.0,3.0,v
10736,S2324-G0493,3,03:33,IND,NaN,BOS,NaN,O. Brissett,BOS,MISS Brissett 3PT Jump Shot,Missed Shot,Jump Shot,233,24,0,1,3.0,0.0,v

In [14]:
cols = ['xLegacy', 'yLegacy', 'scoreVal']
df = df[cols].reset_index(drop=True)
df.sample(10)

      xLegacy  yLegacy  scoreVal
4378       -1      314       0.0
1157      228        1       0.0
980       -31        8       2.0
1184      -74      241       0.0
6460     -219      131       3.0
7360      233       34       0.0
1889       10       28       0.0
1893      158      231       0.0
4306      -37       21       0.0
85         20       20       2.0

In [15]:
df.shape

(7396, 3)

In [16]:
df['m'] = df['scoreVal'] - 1
df.head()

   xLegacy  yLegacy  scoreVal    m
0        7       13       2.0  1.0
1      142      235       0.0 -1.0
2       27       51       2.0  1.0
3     -185      195       0.0 -1.0
4      238       73       0.0 -1.0

In [17]:
df = df.rename(columns={'xLegacy': 'x', 'yLegacy': 'y'})
df = df.drop(columns=['scoreVal'])
df.head()

     x    y    m
0    7   13  1.0
1  142  235 -1.0
2   27   51  1.0
3 -185  195 -1.0
4  238   73 -1.0

In [18]:
df.shape

(7396, 3)

In [19]:
df.to_csv('BOS_shotgravity.csv', index=False)